@charset "UTF-8";
/*Variabler*/
/*Body*/
body {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 6rem;
  height: 100%;
  font: 16px/1.5 'Raleway', Arial, sans-serif;
  background-image: url("../images/back.png"); }

/*Nav-bar p├Ñ alla sidor*/
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-image: url("../images/header.jpg");
  height: 6rem;
  width: 100%; }

/*L├ñnkar. Fem stycken, finns endast i nav-bar.*/
a {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 0 #62698B; }

/*Rubriker, anv├ñnds p├Ñ alla sidor utom home/index-sidan.
Eftersom det ├ñr tv├Ñ sections p├Ñ Contact-sidan anv├ñnds d├Ñ h2*/
h1, h2 {
  font-family: 'Josefin Sans', 'Open Sans', sans-serif;
  font-size: 2.25em; }

/*Huvudtext, endast p├Ñ main/index-sidan*/
main {
  padding-top: 8rem;
  width: 40rem;
  font-size: 1.2rem; }

/*Annan text, anv├ñnds p├Ñ Plant Themes och About*/
section {
  padding-top: 0.75rem;
  width: 40rem; }

/*Tabell p├Ñ Pricing-sidan*/
table {
  border-collapse: collapse;
  margin-left: 2.2rem;
  width: 50rem; }

/*Tabellrader i tabellen p├Ñ Pricing-sidan*/
tr {
  height: 1.5rem; }

/*Tabellceller i tabellen p├Ñ Pricing-sidan, inklusive header cellerna*/
td, th {
  text-align: center;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem; }

/*Formen p├Ñ Contact-sidan*/
form {
  font: 16px/0.5 'Raleway', Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 75%;
  padding-left: 6rem; }

/*Text- och email inputs i formen p├Ñ Contact-sidan*/
input[type=text], input[type=email] {
  margin-bottom: 3.2rem; }

/*Bild p├Ñ Plant Themes-sidan. 
Var ursprungligen tre bilder, 
nu ihopsatta f├Âr att f├Âlja samma m├Ânster som bilden p├Ñ About-sidan.*/
.plant_themes {
  width: 35.6rem;
  height: 8.72rem;
  margin: 1.5rem auto 0 auto; }

/*Klass som formaterar loggan p├Ñ alla sidor.*/
.logo {
  height: 12rem;
  margin-top: 4rem; }

/*Formaterar <p>-texten i nav-bar:en som ├ñr en "fake-l├ñnk"
till den sida som ├ñr vald f├Âr tillf├ñllet.*/
.navselect {
  color: #f3f3f4;
  text-shadow: 1px 1px 0 #62698B;
  font-weight: bold; }

/*L├ñgger in en kant runt omkring exclusive-kolumnen i tabellen.
Jag f├Ñr det inte att fungera att gruppera kolumner, f├Ârmodligen p.g.a. att 
flex-flow ├ñr satt till column?
Jag vill ha kant runt exclusive f├Âr att motivera k├Âpare att v├ñlja det alternativet.*/
.exclusive, .exclusive_top, .exclusive_bottom {
  border-left: 2px solid #5bb2a2;
  border-right: 2px solid #5bb2a2; }

/*├ûvre kant till kolumnen med exclusive i Pricing-tabellen.*/
.exclusive_top {
  border-top: 2px solid #5bb2a2; }

/*Nedre kant till kolumnen med exclusive i Pricing-tabellen.*/
.exclusive_bottom {
  border-bottom: 2px solid #5bb2a2; }

/*Bild p├Ñ About-sidan*/
.modernpic {
  margin-top: 1.5rem; }

/*Divar:inuti formen p├Ñ Contact-sidan. 
Deras syfte ├ñr att b├ñttre positionera elementen i formen.*/
.form_div {
  display: flex;
  flex-flow: column wrap;
  align-items: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

/*Section p├Ñ Contact-sidan som positionererar om allt*/
.ignore_body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%; }

/*De tv├Ñ sections p├Ñ Contact-sidan*/
.two_sections {
  text-align: center;
  width: 32%; }

@media all and (max-width: 55em) {
  .logo {
    height: 6rem; } }

/*# sourceMappingURL=main.css.map */
