<!DOCTYPE html>
<html lang = "en-US">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Plantify, office plants, plants, floral arrangements, flower arrangements, plant themes, contact, address"
    <title>Plantify - Contact</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
<nav>
	<img src="../images/logo7.png" class="logo" alt="Plantify"/>
	<a href="../index.html" title="Home">Home</a>
	<a href="pricing.html" title="Pricing">Pricing</a>
	<a href="plant_themes.html" title="Plant Themes">Plant Themes</a>
	<a href="about.html" title="About">About</a>
	<p class="navselect">Contact</p>
</nav>

<div class="ignore_body">
<section class="two_sections">
<h2>Contact Us</h2>

<address>
Birger Jarlsgatan 5000<br/>
Stockholm<br/>
Tel: 08-13371337<br/>
Facebook: Plantify, Twitter: @Plantify
</address>
</section>

<section class="two_sections">
<h2>Mail Us</h2>
<form action="mailto:steffe.stickling@plantify.com" method="post" enctype="text/plain">
	<div class="form_div">
		<!--Om man inte använder id på input:ar kan man inte använda labels. Mina ids är inte med i CSS:n. -->
		<label for="name">Your Name</label><br/>
		<input type="text" placeholder="Full Name" id="name">
	</div>

	<div class="form_div">
		<label for="mail">Your Email</label><br/>
		<input type="email" placeholder="Email" id="mail">
	</div>

	<div class="form_div">
		<label for="message">Message</label><br/>
		<textarea id="message" rows="10" cols="48"></textarea>
		<div>
			<input type="submit" value="Send">
			<input type="reset" value="Reset">
		</div>
	</div>
</form>
</section>
</div>

</body>
</html>