<!DOCTYPE html>
<html lang = "en-US">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Plantify, office plants, plants, floral arrangements, flower arrangements, plant themes, pricing">
    <title>Plantify - Pricing </title>
    <link rel="stylesheet" href="../css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
<nav>
	<img src="../images/logo7.png" class="logo" alt="Plantify"/>
	<a href="../index.html" title="Home">Home</a>
	<p class="navselect">Pricing</p>
	<a href="plant_themes.html" title="Plant Themes">Plant Themes</a>
	<a href="about.html" title="About">About</a>
	<a href="contact.html" title="Contact">Contact</a>
</nav>

<h1>Pricing</h1>

<table>
	<tr>
		<th>Standard</th>
		<th>Premium</th>
		<!--Använder <span> för att undvika att använda, säg, <p>.-->
		<th class=exclusive_top><span style="color: rgb(230, 95, 104)">Exclusive</span></th></tr>
	<tr>
		<td>Watering not included</td>
		<td>Watering included</td>
		<td class=exclusive>Web-controlled watering system included</td>
	</tr>
	<tr>
		<td>No change of dead plants, monthly plant change</td>
		<td>Exchange of dead plants included, monthly plant change</td>
		<td class=exclusive>Change of dead plants included, weekly plant exchange</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td class=exclusive>Surveillence system for every plant. 24/7 support</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td class=exclusive_bottom>Only locally grown plants</td>
	</tr>
</table>

</body>
</html>